* {
        font-family: 'Lato', sans-serif;
        font-weight: 300;
}

body {
        padding-top: 73px;
}

footer {
        background: #ebebe0;
        padding-top: 15px;
        padding-bottom: 15px;
}

.perso-navbar-backgrond {
        background: #ebebe0;
}

.perso-navbar-logomarca {
        font-weight: 700;
}

.perso-navbar-link {
        font-weight: 400;
}

.perso-navbar-saudacao {
        font-weight: 600;        
}

.perso-th-datatable {
		font-weight: 700;		
		text-align: center;
}

.perso-td-datatable {
		text-align: center;
}

.perso-span-mesSelecionado {
		font-weight: 700;		
}

.perso-span-mesSelecionado-datatable {
		font-weight: 600;
		color: #990000;
}

.perso-span-font-forte {
		font-weight: 700;		
}

.perso-span-font-media {
		font-weight: 400;		
}

.perso-text-color-positivo {
		font-weight: 600;
		color: #006600;
}

.perso-text-color-negativo {
		font-weight: 600;
		color: #660000;
}

.perso-panel-title {
		font-weight: 700;
		font-size: medium;
		text-align: center;	
}

