<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Lista de Contas</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	crossorigin="anonymous" />
</head>

<body>
	<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" />
	</form>

	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Lista de contas</h1>
		</div>

		<div class="panel-body">

			<form class="form-inline" method="POST" th:object="${contas}"
				th:action="@{/contas}" style="margin: 20px 0">
				<div class="form-group">
 					<input type="text" class="form-control" placeholder="Nome"
						th:field="*{nome}" /> 
					<input type="text" class="form-control"	placeholder="Saldo"
						th:field="*{saldo}" />
					<button type="submit" class="btn btn-primary">Adicionar</button>
				</div>
			</form>


			<table class="table">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Saldo</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="conta : ${contas}">
  						<td th:text="${conta.nome}"></td>
						<td th:text="${conta.saldo}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>