<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	
	<title>Edita contas</title>
	
	
	<!-- Bootstrap/JQuery core CSS
    ================================================== -->
	<!-- Bootstrap CSS -->
	<link href="css/bootstrap.min.css" rel="stylesheet" />
	
	<!-- Custom styles for this template -->
	<link href="css/navbar-fixed-top.css" rel="stylesheet" />
	
	
	<!-- Custom styles for Datatable -->
	<link href="css/dataTables.bootstrap.min.css" rel="stylesheet" />
	
	
	<!-- Bootstrap/JQuery core JavaScript
    ================================================== -->
	<!-- jQuery (necessario para os plugins Javascript do Bootstrap) -->
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>

	<script src="js/jquery.dataTables.min.js"></script>
	<script src="js/dataTables.bootstrap.min.js"></script>

</head>

<body>

	<!-- Fixed navbar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Gerenciador Financeiro</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="/contas">Contas</a></li>
					<li><a href="/transacoes">Transacoes</a></li>
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-haspopup="true"
						aria-expanded="false">Dropdown <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Action</a></li>
							<li><a href="#">Another action</a></li>
							<li><a href="#">Something else here</a></li>
							<li role="separator" class="divider"></li>
							<li class="dropdown-header">Nav header</li>
							<li><a href="#">Separated link</a></li>
							<li><a href="#">One more separated link</a></li>
						</ul></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" th:text="${olaUsuario}"></a></li>
					<li><a href="./logout">Sign out</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>
	
	<div class="container">
		<div class="jumbotron">
		</div>
	</div>
 
	<div class="container">
		
		<div class="jumbotron">

			<div class="panel panel-default" style="margin: 10px">
				<div class="panel-heading">
					<h3 class="panel-title">Edição de conta</h3>
				</div>

				<div class="panel-body">
					<form class="form-inline" method="POST" th:object="${conta}"
						th:action="@{/contas}" style="margin: 20px 0">

						<div class="form-group">
							
							<input type="hidden" class="form-control" th:field="*{id}" />
							<input type="text" class="form-control" th:field="*{nome}" />
							<input type="text" class="form-control" th:field="*{saldo}" readonly="readonly" />
				 			<input type="hidden" class="form-control" th:field="*{usuario.username}" />
			
							<button type="submit" class="btn btn-primary">Alterar</button>
						</div>
					</form>				

				</div>
			</div>
		</div>
		
	</div><!-- /container -->
		
</body>
</html>