<!DOCTYPE html>
<html lang="pt-br"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Suas transações</title>

<!-- Fonte lato do google web fonts -->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700"
	rel="stylesheet" />

<!-- Import do bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet" />

<!-- Folha de estilos personalizada -->
<link href="css/estilo.css" rel="stylesheet" />

<!-- Css do Datatable -->
<link href="css/datatable/dataTables.bootstrap.min.css" rel="stylesheet" />

<!-- Css do Datapicker -->
<link href="css/datapicker/datepicker.css" rel="stylesheet" />

</head>

<body>

	<!-- menu da aplicação -->
	<nav
		class="navbar navbar-default navbar-fixed-top perso-navbar-backgrond">

		<div class="container">
			<div class="navbar navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#idMenuNavegacao">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="perso-navbar-logomarca navbar-brand" href="#">Gerenciador Financeiro</a>
			</div>


			<div class="collapse navbar-collapse" id="idMenuNavegacao">				
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"></a></li>
					<li><a class="perso-navbar-link" href="contas">Contas</a></li>
					<li><a class="perso-navbar-link" href="transacoes">Transações</a></li>
					<li><a class="perso-navbar-link" href="usuarios">Usuários</a></li>										
					<li><a class="perso-navbar-link" href="logout">Sign out</a></li>
					<li><a class="perso-navbar-saudacao" href="usuarios" th:text="${olaUsuario}"></a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- // do menu da aplicação -->

	<div class="container">		

		<!-- Main component for a primary marketing message or call to action -->
 		<div class="jumbotron">		

			<div class="panel panel-default" style="margin: 10px">
				<div class="panel-heading">
					<h3 class="panel-title">Edição de transação</h3>
				</div>

				<div class="panel-body">
					<form class="form-inline" method="POST" th:object="${transacao}"
							th:action="@{/transacoes}" style="margin: 20px 0">
						
						<div class="form-group">
						
							<!--  INPUT para inserir o ID ao enviar o form -->
						  	<input type="hidden" class="form-control" placeholder="Id" th:field="*{id}" />
						  	<input type="hidden" class="form-control" placeholder="Repetições" th:field="*{repeticoes}" style="width:90px;" />
												
							<table class="table table-bordered" style="text-align: center">
								<thead>
									<tr>															
										<th>Banco</th>
										<th>Data</th>
										<th>Descrição</th>
										<th>Valor</th>
										<th>Tipo</th>
										<th>Consolidada</th>
										<th>Aplic.</th>
										<th>Transf.</th>
									<!--  <th>Repetir</th> -->
									</tr>
								</thead>
								<tbody>
									<tr>																				
										<td>										
											<select class="form-control" th:field="*{conta}">
												<option th:each="conta : ${contas}"
														th:value="${conta.id}"
														th:text="${conta.nome}">
												</option>
											</select>					
							     	   </td>
								   	   <td>											
											<input type="text" class="form-control" id="idData" placeholder="Data" data-date-format="yyyy/mm/dd" th:field="*{data}" style="width:100px;" />
										</td>
										<td>
											<input type="text" class="form-control" placeholder="Descrição" th:field="*{descricao}" />
										</td>
										<td>
											<input type="text" class="form-control" placeholder="Valor" th:field="*{valor}" style="width:90px;" />
										</td>			 		
					 					<td>
									 		<select class="form-control" th:field="*{tipoTransacao}">
									 			<option th:each="tipoTransacao : ${tiposTransacao}"
									 					th:value="${tipoTransacao}"
									 					th:text="${tipoTransacao}">
									 			</option>
									 		</select>
					 					</td>					 					 				
						    			<td>									                      
							               	<input type="checkbox" th:field="*{consolidada}" style="width:30px; height:30px;" />					                        				                    
		                    			</td>
		                    			<td>									                      
							               	<input type="checkbox" th:field="*{aplicacao}" style="width:30px; height:30px;" />					                        				                    
		                    			</td>
		                    			<td>									                      
							               	<input type="checkbox" th:field="*{transferencia}" style="width:30px; height:30px;" />					                        				                    
		                    			</td>
		                    			<!-- 
		                    			<td>
		                    				<input type="text" class="form-control" placeholder="Repetições" th:field="*{repeticoes}" style="width:90px;" />
		                    			</td>
		                    			-->							
									</tr>
								</tbody>
							</table>					
							<button type="submit" class="btn btn-primary">Alterar</button>					
						</div>
					</form>
				</div>					
			</div>
		</div>
	
  	</div><!-- /container -->
  	
  	 	
  		
  	
  	<!-- Importação de scripts javascript padrões para o bootstrap -->
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>


	<!-- Datatable javascripts -->
	<script src="js/datatable/jquery.dataTables.min.js"></script>
	<script src="js/datatable/dataTables.bootstrap.min.js"></script>	
	
	<!-- DataPicker javascripts -->
	<script src="js/datapicker/bootstrap-datepicker.js"></script>

	<!-- Scripts personalizados para todas as página --> 
	<script src="js/main.js"></script>	

</body>
</html>