<!DOCTYPE html>
<html lang="pt-br" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"  />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
</head>				

	<body>	
			 	 	
	 	<ul class="list-group">
	 		<li class="list-group-item text-center active" data-remote="true" id="contas">Resumo das contas: <span class="perso-span-mesSelecionado" th:text="${mesAnoSelecionado}"></span></li>
	 		
	 		<li th:each="contaInfoOnline : ${contasInfoOnline}" class="list-group-item" data-remote="true" data-toggle="collapse">
	 			
	 			<div class="list-group-item-heading">
	 				<h4 class="perso-span-font-forte" th:text="${contaInfoOnline.conta.nome}"></h4>
	 			</div>	 					
	 			<div class="list-group-item-text">			
		 			<span class="perso-span-font-media">Saldo atual: R$ </span>
		 			<span th:class="${contaInfoOnline.conta.saldo >= 0} ? perso-text-color-positivo : perso-text-color-negativo" th:text="${contaInfoOnline.conta.saldo}"></span>
	 			</div>
	 				 				 				 			
	 			<div class="list-group-item-text">
		 			<span class="perso-span-font-media">Saldo Receitas/Despesas mês: R$ </span>
		 			<span th:class="${contaInfoOnline.saldoPeriodo >= 0} ? perso-text-color-positivo : perso-text-color-negativo" th:text="${contaInfoOnline.saldoPeriodo}"></span>
		 		</div>	
	 		</li>
	 		
	 		
	 	</ul>
	 
 	 
	</body>

</html>