<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Lista de Transacoes</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
	crossorigin="anonymous" />
</head>

<body>
	<h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" />		
	</form>
	
	<div class="panel panel-default" style="margin: 10px">
		<div class="panel-heading">
			<h1 class="panel-title">Lista de transações</h1>
		</div>
		
		<div class="panel-body">
			<form class="form-inline" method="POST" th:object="${transacao}"
				th:action="@{/transacoes}" style="margin: 20px 0">
				
				<div class="form-group">
										
					<select class="form-control" th:field="*{conta}">
						<option th:each="conta : ${contas}"
								th:value="${conta.id}"
								th:text="${conta.nome}">
						</option>
					</select>					
					     	   				
					<input type="text" class="form-control" placeholder="Data" th:field="*{data}" />				
					<input type="text" class="form-control" placeholder="Descrição" th:field="*{descricao}" />
					<input type="text" class="form-control" placeholder="Valor" th:field="*{valor}" />			 		
			 		<select class="form-control" th:field="*{tipoTransacao}">
			 			<option th:each="tipoTransacao : ${tiposTransacao}"
			 					th:value="${tipoTransacao}"
			 					th:text="${tipoTransacao}">
			 			</option>
			 		</select>
			 					 				
					<label class="checkbox-inline"><input type="checkbox" title="Consolidada" name="consolidada" th:field="*{consolidada}" />Consolidada</label>
					
					<button type="submit" class="btn btn-primary">Adicionar</button>
				</div>
			</form>
			
			<table class="table table-responsive table-condensed table-striped">
				<thead>
					<tr>						
						<th>Data</th>
						<th>Conta</th>
						<th>Descrição</th>
						<th>Valor</th>
						<th>Tipo</th>
						<th>Consolidada</th>						
					</tr>						
				</thead>
				<tbody>
					<tr th:each="transacao : ${transacoes}">						
						<td th:text="${transacao.data}"></td>
						<td th:text="${transacao.conta.nome}"></td>
						<td th:text="${transacao.descricao}"></td>											
						<td>R$ <span th:text="${transacao.valor}"></span></td>
						<td th:text="${transacao.tipoTransacao}"></td>
						<td th:text="${transacao.consolidada}"></td>								
					</tr>
				</tbody>
			</table>			
		</div>
	</div>
	
</body>
</html>