<!DOCTYPE html>
<html lang="pt-br"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Suas transações</title>

<!-- Fonte lato do google web fonts -->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700"
	rel="stylesheet" />

<!-- Import do bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet" />

<!-- Folha de estilos personalizada -->
<link href="css/estilo.css" rel="stylesheet" />

<!-- Css do Datatable -->
<link href="css/datatable/dataTables.bootstrap.min.css" rel="stylesheet" />

<!-- Css do Datapicker -->
<link href="css/datapicker/datepicker.css" rel="stylesheet" />

</head>

<body onload="mostrarMesAnoSelecionadoInicializacaoPagina()">


	<!-- menu da aplicação -->
	<nav
		class="navbar navbar-default navbar-fixed-top perso-navbar-backgrond">

		<div class="container">
			<div class="navbar navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#idMenuNavegacao">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="perso-navbar-logomarca navbar-brand" href="#">Gerenciador Financeiro</a>
			</div>


			<div class="collapse navbar-collapse" id="idMenuNavegacao">				
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#"></a></li>
					<li><a class="perso-navbar-link" href="contas">Contas</a></li>
					<li><a class="perso-navbar-link" href="transacoes">Transações</a></li>
					<li><a class="perso-navbar-link" href="usuarios">Usuários</a></li>										
					<li><a class="perso-navbar-link" href="logout">Sign out</a></li>
					<li><a class="perso-navbar-saudacao" href="usuarios" th:text="${olaUsuario}"></a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- // do menu da aplicação -->









	<!-- PARTE PRINCIPAL DA PAGINA -->
	<div class="container">
	
		
		 
		<div class="row">
			<!-- Insere a pagina Informacoes com os dados das contas saldo atual - receitas e despesas mes e saldo me -->
			<div class="col-md-9">
				<div class="panel panel-default">
					
					<div class="panel-heading">
						<h3 class="panel-title perso-panel-title">Resumo do mês</h3>
					</div>
			
					<div class="panel-body" id="subViewDivInformacoesContas"></div>
				</div>
			</div>
			<!-- // Insere a pagina Informacoes com os dados das contas saldo atual - receitas e despesas mes e saldo me -->
	
	
			<!-- Chamada para modal de formulário para criação de nova transacao -->
			<div class="col-md-3">
				<div class="panel panel-default">
					
					<div class="panel-heading">
						<h3 class="panel-title perso-panel-title">Adicionar transações</h3>								
					</div>
					
					<div class="panel-body">
						<button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#adicionarTransacao">
							<img src="images/add_transacao.png" />Adicionar
						</button>
					</div>
										
				</div>
			</div>
			<!-- Chamada para modal de formulário para criação de nova transacao -->
		</div>
		

		
		
		<!-- Tabela com informações de contas -->
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title perso-panel-title">Selecione o período</h3>
					
						
						<div class="form-group">
					
							<select id="selecionaMesAno" class="form-control" th:field="*{mes}" onchange="mostrarMesAnoSelecionado(this)">			 				
				 				<option label="Selecione um mês" value="" selected="selected"></option>			 				
				 				<option th:each="mes : ${meses}"
				 						th:value="${mes.mesAnoString}"
				 						th:text="${mes.mesNome}">
				 				</option>
				 			</select>			 			
				 						
						</div>
					</div>
										
				
					<!-- Insere a pagina TabelaTransacoes com as transações do mes selecionado --> 
					<div class="panel-body" id="subViewDivTabelaTransacoes"></div>
					<!-- // Insere a pagina TabelaTransacoes com as transações do mes selecionado -->				
				</div>
			</div>		
			
		</div>
		<!-- // tabela de contas -->	
		
		
	</div>
	<!--  // PARTE PRINCIPAL DA PAGINA -->










	<!-- tag rodapé -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-sm-10">Sistema para controle de contas pessoais.</div>
				<div class="col-sm-2 text-right">
					<small>Desenvolvido por :</small><br /> <strong>Eric Teles Leite</strong>
				</div>
			</div>

		</div>
	</footer>
	<!-- //  tag rodapé -->
	
	
	
	
	
	
	
	<!--  JANELA MODAL ADICIONAR TRANSACAO -->		
    <div class="modal fade" id="adicionarTransacao" role="dialog" tabindex="-1" aria-hidden="true">
    
	    <style>
			.datepicker{z-index:1151 !important;}
		</style>
    
           <div class="modal-dialog modal-md">
                   <div class="modal-content">

                           <div class="modal-header">

                                   <button type="button" class="close" data-dismiss="modal">
                                           <span aria-hidden="true">&times;</span>
                                           <span class="sr-only">Fechar janela</span>
                                   </button>

                                   <h4 class="modal-title">Adicionar transação</h4>
                           </div>
                           
                           
                           <form method="POST" th:object="${transacao}" th:action="@{/transacoes}">

                            <div class="modal-body">
                            			                 
				                 <div class="row">					              
									<div class="col-sm-12">				                		
		                		
		                			<div class="form-group">
				                		<label for="idConta" class="control-label">Conta</label>
										<select class="form-control" th:field="*{conta}" id="idConta">
											<option th:each="conta : ${contas}"
												th:value="${conta.id}"
												th:text="${conta.nome}">
											</option>
										</select>
				                	</div>
				        			<div class="form-group">
										<label for="idData" class="control-label">Data</label>
										<input type="text" class="form-control" id="idData" placeholder="Data" data-date-format="yyyy/mm/dd" th:field="*{data}" />
									</div>
									
									<div class="form-group">
										<label for="idDescricao" class="control-label">Descrição</label>
										<input type="text" class="form-control" id="idDescricao" placeholder="Descrição" th:field="*{descricao}" />
									</div>
									
									<div class="form-group">
										<label for="idValor" class="control-label">Valor</label>
										<input type="text" class="form-control" id="idValor" placeholder="Valor" th:field="*{valor}" />
									</div>
									
									<div class="form-group">
										<label for="idTipo" class="control-label">Tipo</label>
										<select class="form-control" th:field="*{tipoTransacao}" id="idTipo">
								 			<option th:each="tipoTransacao : ${tiposTransacao}"
							 					th:value="${tipoTransacao}"
							 					th:text="${tipoTransacao.descricao}">
								 			</option>
								 		</select>
							 		</div>			 		
							 		
							 		
							 		<div class="form-group">									 				
								 		<input type="checkbox" th:field="*{consolidada}" id="idConsolidada" />
								 		<label for="idConsolidada" class="control-label">Consolidada</label>					 				 									 		
							 		</div>
							 		
							 		<div class="form-group">								 				
								 		<input type="checkbox" th:field="*{aplicacao}" id="idAplicacao"/>
								 		<label for="idAplicacao" class="control-label">Aplicação</label>									 							 				 									 		
							 		</div>
							 		
							 		<div class="form-group">
								 		<label for="idRepetir" class="control-label">Repetir</label>
								 		<input type="text" class="form-control" id="idRepetir" placeholder="Repetições" th:field="*{repeticoes}" />
							 		</div>												
									</div>								
												                						                	
				                 </div>					               

                            </div>

                            <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>                                    
                                    <button type="submit" class="btn btn-primary">Adicionar</button>
                            </div>                         
                           
                         </form>                           
                   </div>
            </div>            
    </div>    
    <!--  // JANELA MODAL ADICIONAR TRANSACAO -->



	<!-- Importação de scripts javascript padrões para o bootstrap -->
	<script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>


	<!-- Datatable javascripts -->
	<script src="js/datatable/jquery.dataTables.min.js"></script>
	<script src="js/datatable/dataTables.bootstrap.min.js"></script>	
	
	<!-- DataPicker javascripts -->
	<script src="js/datapicker/bootstrap-datepicker.js"></script>

	<!-- Scripts personalizados para todas as página -->
	<script src="js/main.js"></script>	
	

</body>
</html>